.user-info-page {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__edit {
    align-self: center;
    min-width: 94px;
    align-content: end;
    padding: 5px 10px;
    cursor: pointer;
    transition: opacity 0.4s ease-out;

    &:hover {
      opacity: 0.5;
    }
  }

}
