:root {
  --color-light: #ffffff;
  --color-dark: #121212;
  --color-gray: #EBEBEB;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  background-color: var(--color-dark);
  color: var(--color-light);
}
