:root {
  --color-light: #ffffff;
  --color-dark: #121212;
  --color-gray: #EBEBEB;
}

body {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  background-color: var(--color-dark);
  color: var(--color-light);
}
